# Node.js
node_modules/
npm-debug.log*

# Build Output
dist/

# Local Environment Files
.env
.env.*.local

# Logs
*.log

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store

# Others
*.lock
package-lock.json

# Temp files
*.tmp
*.temp
*.bak

# Editor-specific
*.swp
*.swo
*.~undo-tree~
*.~undo-tree~.data
