@use "@/assets/styles/variables.scss" as *;

@mixin pseudo() {
  content: "";
  position: absolute;
  display: block;
}

@mixin font($ff, $fz, $fw) {
  font-family: $ff;
  font-size: $fz;
  font-weight: $fw;
}

@mixin border-gradient($gradient-position, $gradient-1, $gradient-2) {
  border: 1px solid transparent;
  border-image: linear-gradient(
    $gradient-position,
    $gradient-1,
    $gradient-2
  );
  border-image-slice: 1;
}
