// COLORS
// main colors
$color-linear: linear-gradient(to right, #0cbaf1, #e95ce9);
$color-purple: #ca6aeb;
$color-blue: #19b5f1;

// background gradient
$color-dark-gradient: linear-gradient(
  to bottom,
  #18181b 0%,
  #241c27 10%,
  #312337 20%,
  #3e2a47 30%,
  #442d4e 40%,
  #3e2a47 60%,
  #312337 70%,
  #241c27 80%,
  #18181b 100%
);

// color alerts
$color-success: #00c566;
$color-error: #ff4747;
$color-warning: #facc15;

// grayscale
$color-deep-black: #000;
$color-black-1: #18181b;
$color-black-2: #252532;
$color-gray-1: #b0b0b2;
$color-gray-2: #d1d1d1;
$color-gray-3: #575757;
$color-white: #ffffff;

// UI
$font-main: "Chakra Petch", sans-serif;
$transition-main: 0.3s ease;
$transition-ui: 0.4s ease-in;

// progress-bar
$progressValuePadding: 4px;
$progressValueBackground: rgba(255, 255, 255, 0.6);

// header
$header-height-mobile: 82px;
$header-height-desktop: 102px;

// layout
$container-width-md: 900px;
$container-width-lg: 1200px;
$container-width-xl: 1400px;

// breakpoints
$mobileSmBreakpoint: 320px;
$mobileMdBreakpoint: 375px;
$mobileLgBreakpoint: 425px;

$tabletSmBreakpoint: 600px;
$tabletMdBreakpoint: 768px;
$tabletLgBreakpoint: 900px;

$desktopSmBreakpoint: 1024px;
$desktopMdBreakpoint: 1280px;
$desktopLgBreakpoint: 1440px;
$desktopXlBreakpoint: 1920px;
$desktopXXlBreakpoint: 2560px;
