// COLORS
// main colors
$color-linear: linear-gradient(to right, #0cbaf1, #e95ce9);
$color-purple: #ca6aeb;
$color-blue: #19b5f1;

// color alerts
$success: #00c566;
$error: #ff4747;
$warning: #facc15;

// grayscale
$color-black-100: #18181b;
$color-black-50: #252532;
$color-gray-1: #b0b0b2;
$color-gray-2: #d1d1d1;
$color-white: #ffffff;

// UI
$font-main: "Chakra Petch", sans-serif;
